/*---Grid
-----------------*/
#grid, .grid {
	display: grid;
	grid-template-columns: repeat(24, 1fr);
	grid-template-rows:min-content;
	grid-auto-columns:max-content;
	grid-auto-rows: min-content;
	grid-auto-flow: row dense;
	grid-gap: 0px;
}
/*--- Flex
------------------*/
.flex-row, .flex-col{
    display: flex;
}
.flex-row{
    flex-flow: row wrap;
}
.flex-col{
    flex-flow: column wrap;
}
.just-center{
    justify-content: center;
}
.just-right{
    justify-content: right;
}
.flex, .order-1, .order-2{
    flex: 1 1 auto;
}
.order-1{
    order: 1;
}
.order-2{
    order: 2;
}
.ali-f-c{
    align-self:center;
}
.ali-f-e{
    align-self: flex-end;
}
.ali-f-c{
    align-self: flex-start;
}
/*------ pad
------------------*/
.pad-5, .padding{
    padding: 5px;
}
.pad-top-10, .pad-top-bot-10, .pad-10{
    padding-top: 10px;
}
.pad-top-25, .pad-top-bot-25, .pad-25{
    padding-top: 25px;
}
.pad-top-50, .pad-top-bot-50, .pad-50{
    padding-top: 50px;
}
.pad-top-80, .pad-top-bot-80, .pad-80{
    padding-top: 80px;
}
.pad-top-100, .pad-top-bot-100, .pad-100{
    padding-top: 100px;
}
.pad-bot-10, .pad-top-bot-10, .pad-10{
    padding-bottom: 10px;
}
.pad-bot-25, .pad-top-bot-25, .pad-25{
    padding-bottom: 25px;
}
.pad-bot-50, .pad-top-bot-50, .pad-50{
    padding-bottom: 50px;
}
.pad-bot-80, .pad-top-bot-80, .pad-80{
    padding-bottom: 80px;
}
.pad-bot-100, .pad-top-bot-100, .pad-100{
    padding-bottom: 100px;
}
.pad-left-10, .pad-left-write-10, .pad-10{
    padding-left: 10px;
}
.pad-left-25, .pad-left-write-25, .pad-25{
    padding-left: 25px;
}
.pad-left-50, .pad-left-write-50, .pad-50{
    padding-left: 50px;
}
.pad-left-80, .pad-left-write-80, .pad-80{
    padding-left: 80px;
}
.pad-left-100, .pad-left-write-100, .pad-100{
    padding-left: 100px;
}
.pad-right-10, .pad-left-write-10, .pad-10{
    padding-right: 10px;
}
.pad-right-25, .pad-left-write-25, .pad-25{
    padding-right: 25px;
}
.pad-right-50, .pad-left-write-50, .pad-50{
    padding-right: 50px;
}
.pad-right-80, .pad-left-write-80, .pad-80{
    padding-right: 80px;
}
.pad-right-100, .pad-left-write-100, .pad-100{
    padding-right: 100px;
}
/*---Text
-----------------*/
.capital-letter, .uppercase{
    text-transform: uppercase;
}
.small-letter, .lowercase{
    text-transform: lowercase;
}
.cursor-pointer, .pointer{
    cursor: pointer;
}
.text-center{
    text-align: center;
}
.italic{
    font-style: italic;
}
/*---margin
------------------*/
.mar-pad-0{
    margin: 0px;
    padding: 0px;
}
.mar-pad-5{
    margin: 5px;
    padding: 5px;
}
.mar-top-5p{
    margin-top: 5%;
}
.mar-top-10p{
    margin-top: 10%;
}
/*---Font Size
--------------------*/
.font-size-8{
    font-size: 8px;
}
.font-size-10{
    font-size: 10px;
}
.font-size-12{
    font-size: 12px;
}
.font-size-15{
    font-size: 15px;
}
.font-size-18{
    font-size: 18px;
}
.font-size-20{
    font-size: 20px;
}
.font-size-25{
    font-size: 25px;
}
.font-size-30{
    font-size: 30px;
}
.font-size-40, .font-size-40-de, .font-size-10-in{
    font-size: 40px;
}
.font-size-100{
    font-size: 100px;
}
/*---width
-------------------*/
.w-h-20{
    width: 20px;
    height: 20px;
}
.w-h-18{
    width: 18px;
    height: 18px;
    top: 2px;
}
.w-h-25{
    width: 25px;
    height: 25px;
}
.w-h-30{
    width: 30px;
    height: 30px;
}
/*----position & display
--------------------*/
.relative, .w-h-18{
    position: relative;
}
.absolute{
    position: absolute;
}
.color{
    color: rgb(94, 64, 64);
}
/*---border radeus
-------------------*/
.radius-5{
    border-radius: 5px;
}
.radius-50p{
    border-radius: 50%;
}

/*---dropdown
--------------------*/
